/*THEME*/
:root {
    --purple: #7e74f1;
    --purple-light-1: #f5f3fe;
    --purple-light-2: #eae6fe;
    --cider: #232e35;
    --cider-light: #656d72;
    --light: #fbfbfb;
    --light-1: #fbfbfb;
    --light-2: #f1f1f1;
    --light-3: #f5f5f5;
    --light-4: #d9d9d9;
    --white: #ffffff;

}

/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/*GENERAL*/
body{
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--cider);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


/*START*/



.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    border: 0.5px solid;
    background-color: #656d72;
}

.mb-16 {
margin-bottom: 16px;
}

.primary {
    color: var(--purple);
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 24px;
    border-radius: 8px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn-outline-light {
    border: 1px solid var(--light-2);
}


.above-title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    padding-left: 32px;
    position: relative;
    columns: var(--cider-light);
    display: inline-block;
    
}

.above-title::after{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 16px;
    height: 2px;
    background-color: var(--light-4);
}

.social-icons {
    display: flex;
    align-items: center;
    background-color:aliceblue
    
}

.social-icons li:not(:last-of-type) {
    margin-right: 32px;
    
}





/*HEADER*/

.header {
    padding: 15px 0;    
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 25px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 114px;
    height: 40px;
    cursor: pointer;
}

.header .nav .nav-links {
    display: flex;
    align-items: center;
    line-height: 19px;
}

.header .nav .nav-links li:not(:last-of-type){
    margin-right: 56px;
}

.header .right-content {
    display: flex;
    align-items: center;
}

.header .theme-color-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.header .theme-color-toggle svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/*MAIN*/



/*HERO SECTION*/

.hero-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 181px;
    
}

.hero-section .content {
    padding-top: 64px;
    
}

.hero-section .content .full-name {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    margin: 0 0 32px;
}

.hero-section .content .about {
    max-width: 538px;
    line-height: 32px;
    margin: 0 0 40px;
}

.hero-section .image {
    position: relative;
    width: 100%;
    max-width: 341px;
    height: 398px;
}

.hero-section .image .cover {
    background-color: var(--purple-light-1);
    position: absolute;
    width: 100%;
    max-width: 341px;
    height: 398px;
    border-radius: 16px 16px 16px 20px;
}

.hero-section .image .cover svg {
    position: absolute;
    right: 0;
    top: 0;
    width: 199px;
    height: 210px;
    border-top-right-radius: 16px;
}

.hero-section .image .cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: var(--purple);
    right: 0;
    z-index: -1;
    transform: rotate(350deg);
}

.hero-section .image .avatar {
    position: relative;
    left: 0;
    top: 103px;
    border-bottom-left-radius: 16px;
}



.hero-section .content svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}



/*MEDIA QUERY*/


/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    /*general*/
    .container {
        padding: 0 60px;
    }
    /*hero*/
    .hero-section .container {
        margin-top: 125px;
    }
}

@media only screen and (min-width: 1050px) {
    /*header*/
    .header .nav .nav-links li:not(:last-of-type){
        margin-right: 40px;
    }
    /*hero*/


}


